@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: "Noto Sans KR", sans-serif;
  }
}

@keyframes tv-rank-flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
